<section class="channel-h5">
	<div class="channel-h5-header">
		<p class="channel-h5-title">
			女生最爱
		</p>	
	</div>
	<div>
		<div>
			<ul class="list-h5">
				<li v-for="(book, index) in female" v-if="index < 5">
					<div class="book-h5">
						<div class="book-h5-cover">
							<a href="/reader">
								<img :src="book.cover" alt="">							
							</a>
							<p v-if="book.finish" class="book-h5-finish">完结</p>
							<p v-else class="book-h5-finish">未完结</p>
						</div>
						<div class="book-h5-info">
							<p class="book-h5-title">{{book.title}}</p>
							<p class="book-h5-author">{{book.author}}</p>
							<p class="book-h5-summary">{{book.summary}}</p>
							<div class="book-h5-wrap">
								<div v-for="tag in book.tags" class="book-h5-tag">{{tag}}</div>	
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="channel-h5-footer-next">
			<a href="javascript:;">换一换</a>
			<a href="/female">女生频道&gt;&gt;</a>
		</div>
	</div>
</section>