<section class="top-home">
	<!-- 搜索 -->
	<a href="javascript:;">
		<div class="top-home-search">
			输入书名/作者/关键字
		</div>
	</a>

	<!-- 活动图片 -->
	<div class="slider-banner">
		<div>
			<a href="/reader">
				<img class="cover" v-bind:src="top[0].ad_pic_url" :alt="top[0].ad_name">
			</a>
		</div>
	</div>

	<!-- 各个频道链接 -->
	<ul class="top-home-btn">
		<li>
			<a href="/male">
				<img class="top-home-icon" src="/static/img/male.png" alt="男生频道图标">
				<p class="top-home-channel">男生</p>
			</a>
		</li>
		<li>
			<a href="/female">
				<img class="top-home-icon" src="/static/img/female.png" alt="女生频道图标">
				<p class="top-home-channel">女生</p>
			</a>
		</li>
		<li>
			<a href="/category">
				<img class="top-home-icon" src="/static/img/category.png" alt="分类频道图标">
				<p class="top-home-channel">分类</p>
			</a>
		</li>
		<li>
			<a href="/rank">
				<img class="top-home-icon" src="/static/img/rank.png" alt="排行频道图标">
				<p class="top-home-channel">排行</p>
			</a>
		</li>
	</ul>
</section>
